<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.aaman007.com.tablayout">

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CartActivity" />
        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".logIn" />
        <activity android:name=".Register" />
        <activity android:name=".AdminLayout" />
        <activity android:name=".OrderNow" />
        <activity android:name=".AddNewFood" />
        <activity android:name=".AddAdmin" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Feedback" />
        <activity android:name=".OrdersList" />
        <activity android:name=".OrderedItems" />
        <activity android:name=".MyAccount" />
        <activity android:name=".Settings"></activity>
    </application>

</manifest>